2021-01-16 xfloorplan.json
[{"id":"5af9763c.051698","type":"tab","label":"uiFloorplanTemplate","disabled":false,"info":""},{"id":"24630979.1dede6","type":"fibaroActor","z":"5af9763c.051698","name":"","deviceID":"0","server":"9c9da376.afac5","events":true,"outputs":2,"x":1990,"y":340,"wires":[["4e78d254.cbc92c"],[]]},{"id":"4e78d254.cbc92c","type":"debug","z":"5af9763c.051698","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2150,"y":340,"wires":[]},{"id":"ad99718f.57a6","type":"function","z":"5af9763c.051698","name":"Update Device Values","func":"var fp_lights     = flow.get(\"fp_light_table\")\nfp_lights         = fp_lights.find(_ => _.hc2name == msg.topic);\nvar colour        = null\n\n//convert rgb from HC2 to hex for NR\nfunction componentToHex(c)  {var hex = c.toString(16); return hex.length == 1 ? \"0\" + hex : hex;}\nfunction rgbToHex(r, g, b)  {return componentToHex(r) + componentToHex(g) + componentToHex(b)}\n\n\n//update colour value \nif (msg.payload.property == \"color\")   \n        {\n        fp_lights.hc2_colour        = msg.payload.value\n        //convert rgbw colour to hex colour    \n        colour = msg.payload.value\n        var output              = colour.split(\",\");\n        output0                 = output[0];\n        output1                 = output[1];\n        output2                 = output[2];\n        output3                 = output[3];\n        /* Boost brightness, otherwise node-red is showing a literal interpretation of the colour + brightness i.e. low brightness looks black  */\n        var max_brightness      = Math.max(Number(output[0]), Number(output[1]), Number(output[2]));\n        var uplift_factor       = 254/max_brightness\n        var circuit_colour      = rgbToHex( Math.round(Number(output[0]*uplift_factor)),  Math.round(Number(output[1]*uplift_factor)),  Math.round(Number(output[2]*uplift_factor)));\n        if (output[0] === \"0\" && output[1] === \"0\" && output[2] === \"0\" && output[3] > 0)    {fp_lights.colour_value = \"#ffc847\"}    /* warm white */\n        else                                                                                 {fp_lights.colour_value = \"#\" + circuit_colour}\n        }\n\n\n//update brightness value brightness\nif (msg.payload >-1)                   {fp_lights.brightness_value  = msg.payload}\n\n\nmsg.payload       = {};\nmsg.device_update = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":340,"wires":[["80d36272.16cb5","3464c881.2d97b8"]]},{"id":"b654c2ab.b3cc9","type":"link in","z":"5af9763c.051698","name":"home-replay","links":["e586c1c1.d147b","2c5ca17c.f73bce","136f947a.a6ec9c","69eb6996.953358"],"x":655,"y":400,"wires":[["3464c881.2d97b8"]]},{"id":"98018e0f.49215","type":"function","z":"5af9763c.051698","name":"Format RGBW for HC2","func":"function hexToRgb(hex) \n    {\n  var result = /^#?([a-f\\d]{2})([a-f\\d]{2})([a-f\\d]{2})$/i.exec(hex);\n  return result ? \n        {\n            r: parseInt(result[1], 16),\n            g: parseInt(result[2], 16),\n            b: parseInt(result[3], 16)\n        } \n    : null;\n    }\n\nvar fp_lights           = flow.get(\"fp_light_table\")\nfp_lights               = fp_lights.find(_ => _.hc2name == msg.topic);\nvar send_data           = false\nvar device_name         = msg.topic\n\n\n//hang-over from old way of sending messages\nvar topic           = msg.topic;\nvar topic_prefix    = topic.substring(0, 5);\n//group lighting update\nif (topic_prefix == \"Group\") {return} // do nothing is trigger msg from uibuilder\nif (msg.payload == \"Scene\") {return} // do nothing is trigger msg from uibuilder\n\n\n//prep colour command from uibuilder \nif (msg.type == \"colour\")\n    {\n    \n    var skip = false;\n    //if warm white\n    if (msg.payload == \"warm\") \n        {\n        //if current colour is the same as new colour, do nothing\n        if (fp_lights.colour_value == \"0,0,0,255\" || fp_lights.rgbw != true) {return;}           \n        //else update msg.payload\n        skip = true;\n        msg.payload = {\"name\":\"setColor\",\"arg1\":0,\"arg2\":0,\"arg3\":0,\"arg4\":255}\n        }\n\n    //if any other colour\n    if (skip === false) \n        {\n        var hex_colour      = msg.payload;\n        hex_colour = hex_colour.substring(hex_colour.search(\"/\")+1)\n        var red             = hexToRgb(hex_colour).r\n        var green           = hexToRgb(hex_colour).g\n        var blue            = hexToRgb(hex_colour).b\n        msg.payload         = {\"name\":\"setColor\",\"arg1\":red,\"arg2\":green,\"arg3\":blue,\"arg4\":0}\n        //if current colour is the same as new colour, do nothing\n        if (fp_lights.colour_value == red+\",\"+green+\",\"+blue+\",\"+\"0\" || fp_lights.rgbw != true) {return;}\n        }\n    }\n\n//prep scene command from uibuilder \nelse if (msg.type == \"lighting_scene\")\n    {\n        red1     = msg.r\n        green1   = msg.g\n        blue1    = msg.b\n        white1   = msg.w\n        msg.payload         = {\"name\":\"setColor\",\"arg1\":red1,\"arg2\":green1,\"arg3\":blue1,\"arg4\":white1}\n        //if current colour is the same as new colour, do nothing\n        if (fp_lights.colour_value == red1+\",\"+green1+\",\"+blue1+\",\"+white1 || fp_lights.rgbw != true) {return;}\n    }\n\n\n//else send brightness command\nelse \n    {\n    //if current brightness is the same as new brightness, do nothing\n    if (fp_lights.brightness_value == msg.payload) {return;}           \n    }\n\n//send message to HC2\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1750,"y":340,"wires":[["24630979.1dede6","20197f23.5a5e7"]]},{"id":"20197f23.5a5e7","type":"debug","z":"5af9763c.051698","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1970,"y":280,"wires":[]},{"id":"80d36272.16cb5","type":"debug","z":"5af9763c.051698","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":280,"wires":[]},{"id":"2c5ca17c.f73bce","type":"link out","z":"5af9763c.051698","name":"home-controls","links":["b654c2ab.b3cc9","4a67e1e4.1a194","a20cfede.adc4f","17d3cfc6.0d77e","4cc43fad.248d4"],"x":575,"y":540,"wires":[]},{"id":"7f486a80.b27884","type":"function","z":"5af9763c.051698","name":"Lighting Scenes & Groups","func":"// Table of all lights in FLOOR PLAN and their GROUP NAME (for group lighting updates)\n\nflow.set (\"FP_lighting_scenes\",\n            [\n            {scene_name:\"TV Low\",       circuit:\"Garden/BBQ Wall Lights\",       value:\"50\"},\n            {scene_name:\"TV Low\",       circuit:\"Garden/Garden Bench Lights\",   value:\"10\"},\n            {scene_name:\"TV Low\",       circuit:\"Garden/Garden Bench Lights\",   r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n\n            ])\n\n\n\nflow.set  (\"FP_lighting_groups\",\n            [\n            {zone_name:\"Group Kit All\",       circuit:\"Garden/BBQ Wall Lights\"},\n            {zone_name:\"Group Kit All\",       circuit:\"Garden/Garden Bench Lights\"},\n            ])\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":140,"wires":[[]]},{"id":"2c321d18.0bc8a2","type":"debug","z":"5af9763c.051698","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1690,"y":280,"wires":[]},{"id":"5b5f235f.bddb4c","type":"function","z":"5af9763c.051698","name":"Lighting Groups","func":"if (msg.page == \"xFloorplan\"){\n\n    var lighting_groups = flow.get(\"FP_lighting_groups\");\n    var lighting_scenes = flow.get(\"FP_lighting_scenes\");\n    \n    var topic           = msg.topic;\n    var topic_prefix    = topic.substring(0, 5);\n    topic               = topic.substring(topic.search(\" \")+1)\n\n    //group lighting update\n    if (topic_prefix == \"Group\")\n        {\n        // node.warn(\"up to here1\");\n        lighting_groups.forEach(item =>\n        {\n            if (item.zone_name == msg.topic)\n                {\n                var event       = {};\n                event.topic     = item.circuit;\n                event.payload   = msg.payload;\n                if (msg.colour !== null) {event.colour = msg.colour, event.type = msg.type}\n                node.send(event);\n                return;\n                }\n        })\n        \n        }\n    \n    else if (msg.payload == \"Scene\") \n        {\n        lighting_scenes.forEach(item =>\n        {\n            if (item.scene_name == msg.topic)\n                {\n                var event       = {};\n                event.topic     = item.circuit;\n                if (item.type == \"rgbw\") \n                {\n                event.type      = \"lighting_scene\"\n                event.r         = item.r;\n                event.g         = item.g;\n                event.b         = item.b;\n                event.w         = item.w;\n                }\n                else\n                {\n                event.topic     = item.circuit;\n                event.payload   = Number(item.value);\n                }\n                node.send(event);\n                return;\n                }\n        })\n        }\n    \n    return msg;\n    }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1500,"y":340,"wires":[["98018e0f.49215","2c321d18.0bc8a2"]]},{"id":"db457b73.c7df78","type":"link out","z":"5af9763c.051698","name":"","links":["c7521c6.e3213e","24027f6b.e1fc9"],"x":975,"y":340,"wires":[]},{"id":"a32e30e8.257e5","type":"link in","z":"5af9763c.051698","name":"","links":["22c25e7f.5bc5d2"],"x":1275,"y":340,"wires":[["8398b466.895a58","5b5f235f.bddb4c"]]},{"id":"8cd017e9.e9f0a8","type":"link in","z":"5af9763c.051698","name":"","links":["bd233da.800a3c","ad4acd57.68938"],"x":415,"y":540,"wires":[["2c5ca17c.f73bce","ee429a26.f29e38"]]},{"id":"d1269e4a.27e15","type":"comment","z":"5af9763c.051698","name":"OUTPUT from UIBuilder TOP","info":"","x":1380,"y":380,"wires":[]},{"id":"2fb11b10.0b9274","type":"comment","z":"5af9763c.051698","name":"OUTPUT from UIBuilder BOTTOM","info":"","x":560,"y":660,"wires":[]},{"id":"8ce77ae5.541a48","type":"comment","z":"5af9763c.051698","name":"INPUT to UIBuilder","info":"","x":1050,"y":300,"wires":[]},{"id":"39f520ea.c2628","type":"comment","z":"5af9763c.051698","name":"Used for Caching","info":"","x":680,"y":540,"wires":[]},{"id":"8398b466.895a58","type":"debug","z":"5af9763c.051698","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1470,"y":280,"wires":[]},{"id":"ee429a26.f29e38","type":"debug","z":"5af9763c.051698","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":620,"wires":[]},{"id":"6daecdd8.c37584","type":"function","z":"5af9763c.051698","name":"Light Table","func":"flow.set(\"fp_light_table\",\n            [\n            {hc2name:\"Garden/BBQ Wall Lights\",      brightness_value:\"0\",   rgbw:false,  brightness_hide:true, colour_value: null},\n            {hc2name:\"Garden/Garden Bench Lights\",  brightness_value:\"0\",   rgbw:true,   brightness_hide:true, colour_value:\"0\",      hc2_colour:\"0\"},\n            ])","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1250,"y":100,"wires":[[]]},{"id":"67c87ace.d65744","type":"inject","z":"5af9763c.051698","name":"Run once on setup only","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1040,"y":100,"wires":[["6daecdd8.c37584"]]},{"id":"3464c881.2d97b8","type":"function","z":"5af9763c.051698","name":"Caching","func":"// Replay cache if requested\nif ( msg.hasOwnProperty('cacheControl') && msg.cacheControl === 'REPLAY' ||  msg.device_update === true) {\n\n        if ( msg.hasOwnProperty('_socketId') )\n            {\n            node.send({\n                \"fp_light_table\"        : flow.get(\"fp_light_table\"),\n                \"page\"                  : \"xFloorplan\",\n                \"_socketId\"             : msg._socketId,\n            })\n            }\n        else\n            {\n            node.send({\n                \"fp_light_table\"        : flow.get(\"fp_light_table\"),\n                \"page\"                  : \"xFloorplan\",\n            })\n            }\n        }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":340,"wires":[["db457b73.c7df78","e419cfa1.6121f"]]},{"id":"e419cfa1.6121f","type":"debug","z":"5af9763c.051698","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1010,"y":380,"wires":[]},{"id":"8088a55f.6c9348","type":"inject","z":"5af9763c.051698","name":"Run once on setup only","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1040,"y":140,"wires":[["7f486a80.b27884"]]},{"id":"b8f7582.24f69a8","type":"fibaroActor","z":"5af9763c.051698","name":"BBQ Wall Lights (Garden)","deviceID":"Garden/BBQ Wall Lights","server":"9c9da376.afac5","events":true,"outputs":2,"x":290,"y":360,"wires":[["ad99718f.57a6"],[]]},{"id":"f6d0dd6.c126d2","type":"fibaroActor","z":"5af9763c.051698","name":"Garden/Garden Bench Lights","deviceID":"Garden/Garden Bench Lights","server":"9c9da376.afac5","events":true,"outputs":2,"x":280,"y":300,"wires":[["ad99718f.57a6"],["ad99718f.57a6"]]},{"id":"9c9da376.afac5","type":"fibaro-server","name":"HC2_Master1","ipaddress":"192.168.1.101"}]